                /***** Responsive part *****/

        /* css class */
.active-link {
    padding-bottom: 2px;
    color: var(--btn-color) !important ;
    font-weight: bold ;
    position: relative;
    overflow: hidden;
}
.active-link::after {
    content: "" ;
    position: absolute;
    bottom: 0px ;
    left: 0px;
    width: 100% ;
    height: 1px ;
    background-color: var(--btn-color) ;
    opacity: 0 ;
    transform: translateX(-100%);
    transition: opacity 0.4s ease-out ;
    transition: transform 0.2s ease-out;
}
.active-link:hover::after {
    opacity: 1 ;
    transform: translateX(0) ;
}

@media (min-width: 768px){
    .container .dev-hello,
    .container #about-me,
    #contact-title {
        font-size: 2.4rem ;
    }
    .container .dev-work {
        font-size: 1.8rem ;
        letter-spacing: 2px;
    }
    .btn-1,
    .btn-2 {
    width: 144px ;
    }
    .container .social-media span {
        height: 40px ;
        width: 40px ;
    }
    .container .social-media {
        padding-top: 4% ;
    }
}

@media (min-width: 1024px){
    .dark-light-mode {
        position: absolute ;
        top: 50% ;
        left: 50% ;
        transform: translate(-50%, -50%) ;
    }
    header #menu {
        display: none ;
    }
    header .nav-bar {
        display: block ;
    }
    header .nav-bar ul {
        display: flex ;
        justify-content: right ;
        align-items: center ;
    }
    header .nav-bar li:not(:first-child){
       margin-left: 16px ;
    }
    header .nav-bar a {
        color:var(--text-color) ;
        transition: color 0.2s ease-out ;
    }
    header .nav-bar a:hover {
        color:var(--btn-color);
    }
    .btn-1,
    .btn-2 {
    width: 160px ;
    }
    .container .social-media span {
        height: 40px ;
        width: 40px ;
    }
}

@media (min-width: 1440px){
    body {
        padding: 0px 6%;
    }
    .container .dev-hello,
    .container #about-me,
    #contact-title {
        font-size: 2.8rem ;
    }
    .container .dev-work {
        font-size: 2.2rem ;
    }
}

@media (min-width: 2000px){
    #my-name {
        font-size: 2.4rem ;
    } 
    .dark-light-mode {
        height: 40px ;
        width: 40px ;
    }
    header a {
        font-size: 1.8rem ;
    }
    header .nav-bar li:not(:first-child){
        margin-left: 40px ;
     }
    .container .dev-hello,
    .container #about-me,
    #contact-title {
        font-size: 4.4rem ;
    }
    .container .dev-work {
        font-size: 3.2rem ;
        letter-spacing: 4px;
    }
    .container .dev-presentation {
        font-size: 1.4rem ;
    }
    .btn-1,
    .btn-2 {
        width: 320px ;
        padding: 16px 0px;
        font-size: 1.4rem ;
    }
    .container .social-media span {
        height: 64px ;
        width: 64px ;
    }
    .container .social-media i {
        font-size: 2rem ;
    }
    .container .social-media .media-1 {
        margin-right: 24px ;
    }
}